[Desktop Entry]
Type=Application
Name=Webcat
Name[de]=Webcat
Icon=harbour-webcat
NoDisplay=true
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
X-Maemo-Service=org.harbour.webcat
X-Maemo-Method=org.harbour.webcat.openUrl
